body {
  transition: background-color 0.3s linear;
}

body.light {
  background-color: #f5f5f5;
  color: #161616;
  --secondary-color: #6c6c6c;
  --button-color: #ececec;
  --border-color: #c6c3c3ca;
}

body.dark {
  background-color: #202122;
  color: #fff;
  --secondary-color: #bec1c5;
  --button-color: #303134;
  --border-color: #3d4043;
}
